.wrapper {
	display: flex;
	flex-wrap: wrap;
	Justify-content: center;
    align-items: center;
}

.header {
	width: 100%;
}

.logo {
	width: 100px;
	height: 100px;
    align-self: flex-start;
	background-image: url(./logo.png);
}

.nav {
	width: 300px;
	height: 40px;
    align-self: flex-end;
}

.content {
	width: 80vw;
	height: 100vh;
}

.footer {
	width: 100vw;
	height: 100px;
	background-color: #E37629;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #BFD8FF;
	color: #0C3E6E;
}

/* Color Theme Swatches in Hex */
.Statistic-web-design-1-hex { color: #BFD8FF; }
.Statistic-web-design-2-hex { color: #7DB3FF; }
.Statistic-web-design-3-hex { color: #276DCF; }
.Statistic-web-design-4-hex { color: #0C3E6E; }
.Statistic-web-design-5-hex { color: #E37629; }


